In [51]:
import pandas as pd

# Charger le fichier CSV
df = pd.read_csv('./data final/produits_aziza_filtrer.csv')

# Afficher les premières lignes pour avoir un aperçu
print(df.head())

                                      Nom du Produit  Prix (TND)
0  Gaufrette chocolat 110 G Dcroc Gaufrette tiram...        1.49
1  Biscuit fourré goût vanille 190 G TOM Lot 2 co...        1.55
2  Lot de 5 yaourts brassés fraise gaufrette 5* 7...        1.72
3  Boisson gazeuse citron 1 L Viva Boisson gazeus...        1.99
4  Lot de 2 Pains de mie 14 tranches complet Lot ...        2.00

In [53]:
df

                                       Nom du Produit  Prix (TND)
0   Gaufrette chocolat 110 G Dcroc Gaufrette tiram...        1.49
1   Biscuit fourré goût vanille 190 G TOM Lot 2 co...        1.55
2   Lot de 5 yaourts brassés fraise gaufrette 5* 7...        1.72
3   Boisson gazeuse citron 1 L Viva Boisson gazeus...        1.99
4   Lot de 2 Pains de mie 14 tranches complet Lot ...        2.00
5   Lot de 6 yaourts aromatisés banane 6* 100G Vit...        2.65
6   Lot 6 browniz cacao 6* 60 G Lot 3 brioches fou...        2.84
7   Nouasser artisanal 500 G BIT EL MOUNA Lot de 5...        2.99
8   Lot de 4 boissons instantanées orange 4* 40 G ...        3.10
9   Chamia nature 200 G Le moulin Lot de 3 boites ...        3.58
10  Cacahuète enrobé goût hot chili 100 GR Cacahuè...        3.99
11  Lot 2 margarines plus 2* 200 G Goldina Lot de ...        4.80
12  CHIPS 70GR MISTER CHIPS PAPRIKA CHIPS 70GR MIS...        5.70
13  2 glaces cookies 2* 95 ML 2 glaces amandes 2* ...        5.90
14  Céréales grain d'or cacao 900 G Nestlé Céréale...        9.99

In [17]:
print(df.isnull().sum())

Nom du Produit,Marque,Catégorie,Énergie (kcal),Matières grasses (g),Protéines (g),Sucres (g),Empreinte Carbone (CO₂ g),Lien Produit    0
dtype: int64

In [55]:
import pandas as pd
import sqlite3

# Étape 1 : Connexion à une base de données SQLite (ou autre base au besoin)
# Remplacez 'data.db' par le chemin de votre fichier de base de données
conn = sqlite3.connect('data.db')

# Étape 2 : Charger le fichier script.sql et exécuter son contenu
with open('script.sql', 'r') as file:
    sql_script = file.read()

# Exécution du script SQL
cursor = conn.cursor()
cursor.executescript(sql_script)
conn.commit()

# Étape 3 : Fonction pour charger les données d'une table en DataFrame Pandas
def load_table(table_name):
    query = f"SELECT * FROM {table_name}"
    return pd.read_sql_query(query, conn)

# Étape 4 : Data Profiling - Analyser la table
def data_discovery(df, table_name):
    print(f"\n--- Data Discovery pour la table '{table_name}' ---")
    print(f"Nombre de lignes: {df.shape[0]}")
    print(f"Nombre de colonnes: {df.shape[1]}\n")
    
    print("\nTypes de données:")
    print(df.dtypes)
    
    print("\nValeurs manquantes:")
    print(df.isnull().sum())
    
    print("\nAperçu des premières lignes:")
    print(df.head())

# Étape 5 : Liste des tables dans la base de données
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(tables_query, conn)
table_names = tables['name'].tolist()

# Étape 6 : Appliquer la découverte des données sur chaque table
for table in table_names:
    df = load_table(table)
    data_discovery(df, table)

# Étape 7 : Fermeture de la connexion
conn.close()

OperationalError: near "'M001'": syntax error